* {
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & > * {
        opacity: 0;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &.active {
            opacity: 1;
            z-index: 1000000;
        }
    }

    #title {
        background-color: rgb(17, 17, 21);
        display: flex;
        justify-content: center;
        align-items: center;

        #startGame {
            cursor: pointer;
        }
    }

    #lobby {
        background-color: rgb(77, 77, 83);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 48px;
    }

    #starts-soon {
        background-color: rgb(137, 137, 145);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 48px;
    }

    #room-transition {
        background-color: blue;
    }
}
